<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
  <p>
  	<%= f.label :meeting_time %><br>
  	<!--<%= datetime_select :post, :meeting_time %>-->
  	<%= select_year(2009) %>
  	<%= select_year(Time.now) %>
  	Date.civil(params[:start_date][:year].to_i, params[:start_date][:month].to_i, params[:start_date][:day].to_i)
  	<%= datetime_select :post, :meeting_time %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
