<div class="panel panel-default">
  <div class="panel panel-heading">
    <div class="panel-title">
      <%= link_to post.title, post_path(post) %>
      <%= link_to "Edit", edit_post_path(post), :class => "edit-link" %>
      <%= link_to "Delete", post_path(post), :method => :destroy, :class => "edit-link" %>
    </div>
  </div>
  <div class="panel panel-body">
    Description: <%= post.description %>
    Meeting Time: <%= post.meeting_time %>
  </div>
</div>
