<div class="panel panel-default">
  <div class="panel panel-heading">
    <div class="panel-title">
      <div class="row">
        <div class="col-xs-11">
          <h4><%= link_to post.title, post_path(post) %></h4>
        </div>
        <div class="col-xs-1">
          <%= link_to "Edit", edit_post_path(post) if current_user == post.onid && !current_user.nil?%>
          <%= link_to "Delete", post_path(post), :method => :delete if current_user == post.onid && !current_user.nil?%>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-body">
    Description: <%= post.description %><br>
    Location: <%= post.location %><br>
    Meeting Time: <%= post.meeting_time %><br>
    End Time: <%= post.end_time %><br>
  </div>
</div>
