<div class="panel panel-default">
		<div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= dom_id(post) %>"> <%= post.title %> </a> <%= link_to 'Edit', edit_post_path(post), :class => 'edit-link' %> <%= link_to 'Delete', post_path(post), :method => :destroy, :class => 'edit-link' %></h4>
	</div>
	
		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= dom_id(post) %>"> <%= post.title %> </a> </h4>
		</div>

	<div id="collapse-<%= dom_id(post) %>" class="panel-collapse collapse in">
		<div class="panel-body">
			<p>
				Group Description: <%= post.description %>
			</p>
			<div>
				Meeting Time: <%= post.try(:meeting_time).try(:strftime,'%A, %d %B %Y - %I:%M %p %Z') %>
			</div>
		</div>
	</div>
</div>
