<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= dom_id(post) %>"> <%= post.title %> </a> <%= link_to 'Edit', edit_post_path(post) %> </h4>
	</div>
	<div id="collapse-<%= dom_id(post) %>" class="panel-collapse collapse">
		<div class="panel-body">
			<%= post.description %>
		</div>
	</div>
</div>