<!DOCTYPE html>
<html>
<head>
	<title>Find-a-Friend</title>
	<%= stylesheet_link_tag "style.css" %>
</head>

<body>
<header><%= image_tag("icon_banner.png") %></header>
<h1>Listing posts</h1>
<nav><%= link_to 'New_post', new_post_path %></nav>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.description %></td>
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
    </tr>
  <% end %>
</table>
</body>
</html>
